<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ebook Admin</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  {% load static %}
  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">

  <!-- Customized Bootstrap Stylesheet -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body class="bg-white">

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center bg-secondary">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'admin' %}" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">Ebook Admin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">{{ alert_activity.count }}</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have {{ alert_activity.count }} new notifications
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            {% for activity in alert_activity %}
            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-dark"></i>
              <div>
                <h4>{{ activity.description }}</h4>
                <p>{{ activity.time_stamp }}</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            {% endfor %}

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">{{ recent_activity.count }}</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have {{ recent_activity.count }} new messages
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            {% for activity in recent_activity %}
            <li class="message-item">
              <a href="#">
                <div>
                  <h4>{{ activity.description }}</h4>
                  <p>{{ activity.time_stamp }}</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            {% endfor %}

            <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li>

          </ul><!-- End Messages Dropdown Items -->

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="{% url 'logout' %}">
            <span class="d-none d-md-block ps-2">logout</span>
          </a><!-- End Profile Iamge Icon -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link text-dark bg-secondary" href="{% url 'admin' %}">
          <i class="bi bi-grid text-primary"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link text-dark bg-secondary" href="{% url 'admin-authors' %}">
          <i class="bi bi-person text-primary"></i>
          <span>Author</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link text-dark bg-secondary" href="{% url 'admin-books' %}">
          <i class="bi bi-book text-primary"></i>
          <span>Book</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link text-dark bg-secondary" href="{% url 'admin-categorys' %}">
          <i class="bi bi-journal-album text-primary"></i>
          <span>Category</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link text-dark bg-secondary" href="{% url 'admin-newsletter' %}">
          <i class="bi bi-send text-primary"></i>
          <span>Newsletter</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link text-dark bg-secondary" href="{% url 'index' %}" target="_blank">
          <i class="bi bi-globe text-primary"></i>
          <span>Website</span>
        </a>
      </li><!-- End Website Link Nav -->

      <li class="nav-item">
        <a class="nav-link text-dark bg-secondary" href="{% url 'logout' %}">
          <i class="bi bi-box-arrow-in-right text-primary"></i>
          <span>Logout</span>
        </a>
      </li><!-- End Logout Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->
  {% block content %}
  {% endblock %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center bg-primary"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>